@import "styles/colors";

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  padding: 8px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  margin-right: 24px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  & > input[type="text"] {
    color: $black;
    @media (max-width: 1900px) {
      height: 31px;
    }
    height: 44px;
    width: 100%;
    font-size: 18px;
    border: none;

    padding: 4px 8px;
    &:focus {
      outline: none;
      border: none;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light_gray;
    outline: none;
    border: none;
    border-radius: 0px 2px 2px 0px;
    padding: 10px;
    cursor: pointer;
    img {
      user-select: none;
    }
  }
}
